body{
  margin: 0;
}

/* title */
#title{
  background-color: #ff468c;
  padding: 3% 10% 7%;
  color: white;
}
nav{
  font-family: 'Ubuntu';
  margin-bottom: 5%;
}
#title .navbar-brand{
  font-size: 2rem;
}
#title button{
  margin: 20px;
}
#title h1{
  font-family: 'Montserrat';
  font-weight: 800;
}
.intro img{
  width: 60%;
  transform: rotate(15deg);
  position: absolute;
  left: 100px;
  /* z-index: 1; */
}
.intro .btn{
  font-family: 'Montserrat';
  font-weight: 500;
}

/* features */

#features{
  /* margin: 13% 8%; */
  text-align: center;
  position: relative;
  /* z-index: 2; */
}

.container-box{
  padding: 13% 8%;
  background-color: white;
}

#features h3{
  margin-top: 15px;
  font-family: 'Montserrat';
  font-size: 1.5rem;
  position: relative;
  z-index: 2;
}


/* .fas:hover {
  color: #ff468c;
} */

/* testimonials */

#testimonials{
  background-color: #ef8172;
  text-align: center;
  font-family: 'Montserrat';
  padding: 7% 5%;
}
.testimonial-text{
  padding-bottom: 2%;
  color: white;
}
.testimonial-image{
  width: 10%;
  margin: 20px;
  border-radius: 100%;
}
.carousel-button{
  margin: 0% -10%;
}


/* press */
#press{
  text-align: center;
  background-color: #ef8172;
}
.press-img{
  width: 10%;
  margin: 20px;
}

/* pricing */

#pricing .intro{
  margin: 4% 6%;
}

.intro h2{
  font-family: 'Montserrat';
  font-weight: 800;
  font-size: 3rem;
}
.intro p{
  font-family: 'Ubuntu';
  font-weight: 300;
  line-height: 2;
  color: gray;
}

.row{
  padding: 0% 5%;
}


.card-header{
  font-family: 'Montserrat';
}
.card-text h2{
  font-family: 'Montserrat';
  font-weight: 800;
  font-size: 3rem;
}

/* cta */

#cta{
  background-color: #ff468c;
  text-align: center;
  padding: 5% 10% 10%;
}
#cta h3{
  font-family: 'Montserrat';
  font-weight: 800;
  font-size: 2.7rem;
  color: white;
  padding: 2% 10%;
}
#cta button{
  font-family:'Montserrat';
  font-size: 1rem;
  font-weight: 500;
  margin: 20px 12px 0px;
  width: 13%;
}

/* footer */

#footer{
  background-color: white;
  text-align: center;
  padding: 6% 10% 3%;
}
#footer .icon{
  margin: 10px;
}
#footer p{
  font-family: 'Montserrat';
  font-weight: normal;
  color: grey;
  padding-top: 1%;
  padding-bottom: 3%;
}
