
body{
  margin: 0;
}

/* title */

#title{
  background-color: #ff4c68;
}
#title nav{
  padding: 3% 10%;
  color: white;
  font-family: 'Ubuntu';
}
.navbar-brand{
  font-size: 2rem;
}
.row{
  padding: 3% 10%;
  color: white;
}
h1{
  font-family: 'Montserrat';
  line-height: 1.5;
}
button{
  margin-right: 20px;
  margin-top:20px;
}
#title img{
  width: 70%;
  transform: rotate(15deg);
}


/* features */
#features{
  text-align: center;
}
#features .row{
  padding: 3% 10%;
}
#features h3{
  font-family: 'Montserrat';
}
