body{
  margin: 0;
}

/* title */
#title{
  background-color: #ff468c;
  padding: 3% 10%;
  color: white;
}
nav{
  font-family: 'Ubuntu';
  margin-bottom: 5%;
}
#title .navbar-brand{
  font-size: 2rem;
}
#title button{
  margin: 20px;
}
#title h1{
  font-family: 'Montserrat';
}
.intro img{
  width: 60%;
  transform: rotate(15deg);
}

/* features */

#features{
  margin: 13% 8%;
  text-align: center;
}

#features h3{
  margin-top: 15px;
  font-family: 'Montserrat';
  font-size: 1.5rem;
}

.icon{
  color: #ef8172;
}

/* .fas:hover {
  color: #ff468c;
} */


